.toDoForm input:hover,
.toDoForm input:active,
.toDoForm input:visited {
  outline: none;
  color: none;
}
.toDoForm ::placeholder {
  color: black;
}
.toDoForm {
  position: fixed;
  bottom: 0px;
  right: inherit;
  background-color: white;
  width: inherit;
  color: black;
}

.toDoForm input {
  margin-left: 20px;
  background-color: inherit;
  border: none;
  color: black;
  font-size: 15px;
  height: 30px;
}
.js-ToDoList button {
  background-color: inherit;
  border: none;
  margin-left: 10px;
}
.js-ToDoList li {
  background-color: white;
  color: black;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 200px;
  padding-left: 20px;
}
